# What is Pandas Series

Pandas Series là một mảng một chiều chứa các kiểu dữ liệu khác nhau (integer, string, float, python object, ...)
Chúng ta có thể chuyển đổi từ kiểu dữ liệu list, tuple, dict thành Series bằng phương thức Series(). 

Trong Pandas Series, các phần tử được đánh nhãn bởi một dòng được gọi là bởi index. 

# Constructor
Constructor Syntax:

Pandas.series(data,index,dtype,copy)

- data: Chứa dữ liệu ndarray, list, các hằng số, ...
- index: Nhãn tên các giá trị trong series. Index là duy nhất.
- dtype: Là kiểu dữ liệu
- copy: Đối tượng để sao chép sang đối tượng series mới.

In [1]:
# Create series from array
import pandas as pd
import numpy as np

In [2]:
# Create empty sereies
empty  = pd.Series()
print(empty)

Series([], dtype: float64)

In [ ]:

# create a numpy array
data = np.array(['python', 'php', 'java', '.net', 'kotlin'])

series = pd.Series(data)

print(series)

In [3]:
# create series with customs index name 

series2 = pd.Series(data=data, index=['pl1', 'pl2', 'pl3', 'pl4', 'pl5'])

print(series2)

pl1    python
pl2       php
pl3      java
pl4      .net
pl5    kotlin
dtype: object

In [7]:
# Create Serries using Dict
salary_data = {'python' : 2000, 'java' : 3000, '.net' : 1000}

salary = pd.Series(salary_data)

print(salary)

python    2000
java      3000
.net      1000
dtype: int64

Như ví dụ trên, key của các phần tử trong dict sẽ biến thành nhãn của dòng dữ liệu, value của phần tử là giá trị của Series.

In [12]:
salary_data = {'python' : 2000, 'java' : 3000, '.net' : 1000}
max_salary = pd.Series(salary_data, index=['max_python', 'max_java', 'max_.net'])

print(max_salary)

max_python   NaN
max_java     NaN
max_.net     NaN
dtype: float64

In [14]:
# Create series using List
list_dbms = ['oracle', 'mysql', 'psg', 'sql server']
dbms = pd.Series(data=list_dbms)
print(dbms)

0        oracle
1         mysql
2           psg
3    sql server
dtype: object

In [15]:
dbms_2 = pd.Series(data=list_dbms, index=['db1', 'db2', 'db3', 'db4'])

print(dbms_2)

db1        oracle
db2         mysql
db3           psg
db4    sql server
dtype: object

In [3]:
# convert series to dataframe
courses = pd.Series(["Spark","PySpark","Hadoop"], name='courses')
fees = pd.Series([22000,25000,23000], name='fees')
df=pd.concat([courses,fees],axis=1)
print(df)

   courses   fees
0    Spark  22000
1  PySpark  25000
2   Hadoop  23000

In [4]:
# Create DataFrame with single column
data =  ["Python","PHP","Java"]
df = pd.DataFrame(data, columns = ['Courses'])
my_series = df.squeeze()
print(my_series)
print (type(my_series))

0    Python
1       PHP
2      Java
Name: Courses, dtype: object
<class 'pandas.core.series.Series'>

In [6]:
# Create DataFrame with multiple columns
import pandas as pd
data = {'Courses': ['Spark', 'PySpark', 'Python'],
        'Duration':['30 days', '40 days', '50 days'],
        'Fee':[20000, 25000, 26000]
        }
df = pd.DataFrame(data, columns = ['Courses', 'Duration', 'Fee'])
print(df)
print (type(df))

# convert Fee column into a series
my_series= df['Fee'].squeeze()
print(my_series)

   Courses Duration    Fee
0    Spark  30 days  20000
1  PySpark  40 days  25000
2   Python  50 days  26000
<class 'pandas.core.frame.DataFrame'>
0    20000
1    25000
2    26000
Name: Fee, dtype: int64